@import url("syntax-dark.css") (prefers-color-scheme: dark);
@import url("syntax-light.css") (prefers-color-scheme: light);

:root {
  --body-bg: #fff;
  --body-fg: #333;
  --time-fg: #555;
  --element-bg: #f8f8f8;
  --highlight-fg: #2d5b89;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #1b1b1b;
    --body-fg: #bbb;
    --time-fg: #999;
    --element-bg: #1f1f1f;
    --highlight-fg: #6389a7;
  }
}

html {
  font-family: system-ui, sans-serif;
}

body {
  background: var(--body-bg);
  color: var(--body-fg);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
}

.container {
  margin: auto;
  max-width: 42rem;
  padding: 0 1rem;
}

main {
  flex: 1;
}

h2 {
  font-weight: 400;
  margin-bottom: 0;
}

h2 ~ p {
  margin-top: 0.4rem;
}

header {
  background: var(--element-bg);

  div {
    display: flex;

    h2 {
      font-size: 1.2rem;
    }

    nav {
      ul {
        padding-left: 0;

        li {
          display: inline;

          &:not(:first-child) {
            margin-left: 0.4rem;
          }

          &:not(:last-child) {
            margin-right: 0.4rem;
          }
        }
      }
    }
  }
}

footer {
  background: var(--element-bg);
  padding: 2rem 0;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  max-width: 90%;
}

code,
pre {
  font-family: Menlo, Consolas, "Liberation Mono", monospace;
  font-size: 14px;
}

pre {
  background: var(--element-bg) !important;
  border-left: 2px solid var(--highlight-fg);
  overflow-x: auto;
  padding: 1rem;
}

a {
  color: var(--highlight-fg);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

time {
  color: var(--time-fg);
}

@media screen and (max-width: 498px) {
  header div {
    flex-direction: column;
    text-align: center;

    h2 {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 499px) {
  header div {
    align-items: baseline;
    justify-content: space-between;
  }
}
