:root {
  --body-background: #fff;
  --body-color: #333;
  --time-color: #555;
  --highlight-color: #2d5b89;
  --pre-background: #f8f8f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background: #1b1b1b;
    --body-color: #bbb;
    --time-color: #999;
    --highlight-color: #6389a7;
    --pre-background: #1f1f1f;
  }
}

html {
  font-family: system-ui, sans-serif;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  margin: auto;
  max-width: 42rem;
  min-height: 100vh;
  padding: 0 1rem;
}

main {
  flex: 1;
}

h2 {
  font-weight: 400;
  margin-bottom: 0;
}

h2 ~ p {
  margin-top: 0.4rem;
}

header {
  display: flex;

  h2 {
    font-size: 1.2rem;
  }

  nav {
    ul {
      padding-left: 0;

      li {
        display: inline;

        &:not(:first-child) {
          margin-left: 0.4rem;
        }

        &:not(:last-child) {
          margin-right: 0.4rem;
        }
      }
    }
  }
}

footer {
  padding: 2rem 0;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  max-width: 90%;
}

code,
pre {
  font-family: Menlo, Consolas, "Liberation Mono", monospace;
  font-size: 14px;
}

pre {
  background: var(--pre-background);
  border-left: 2px solid var(--highlight-color);
  overflow-x: auto;
  padding: 1rem;
}

a {
  color: var(--highlight-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

time {
  color: var(--time-color);
}

@media screen and (max-width: 498px) {
  header {
    flex-direction: column;
    text-align: center;

    h2 {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 499px) {
  header {
    align-items: baseline;
    justify-content: space-between;
  }
}
